.container {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding-top: 64px;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.header {
  width: 100%;
}

.content {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  gap: 4rem;
  padding-bottom: 6rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .left {
    flex: 1;

    h3 {
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    p {
      color: #ccc;
      font-size: 1.05rem;
      line-height: 1.7;
    }
  }

  .right {
    flex: 2;
  }
}

